django
python-dotenv
psycopg2-binary
dj-database-url==1.3.0
whitenoise
gunicorn
channels
channels-redis
djangorestframework
djangorestframework-simplejwt
django-cors-headers
cloudinary
django-cloudinary-storage
django-extensions
openai
daphne
# Add any other project dependencies here
